<h1>Patients</h1>
<div class="container">
  <div class="header">
    <h1>Liste des patients ({{ patients().length }})</h1>
    <button mat-raised-button color="primary" (click)="createPatient()">
      <mat-icon>add</mat-icon>
      Nouveau patient
    </button>
  </div>

  @if (loading()) {
    <mat-spinner />
  }

  @if (errorMessage()) {
    <div class="error">
      {{ errorMessage() }}
    </div>
  }

  @if (!loading() && patients().length === 0) {
    <div class="empty">Aucun patient</div>
  }

  @if (!loading() && patients().length > 0) {
    <mat-table [dataSource]="patients()">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell *matCellDef="let patient">{{ patient.lastName }} {{ patient.firstName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <mat-header-cell *matHeaderCellDef>Date de naissance</mat-header-cell>
        <mat-cell *matCellDef="let patient">{{ patient.birthDate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef>Genre</mat-header-cell>
        <mat-cell *matCellDef="let patient">{{ patient.gender }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  }
</div>
