<h1>Patients</h1>
<div class="container">
  <div class="header">
    <h1>Liste des patients</h1>
    <button mat-raised-button color="primary" (click)="createPatient()">
      <mat-icon>add</mat-icon>
      Nouveau patient
    </button>
  </div>

  @if (loading()) {
    <mat-spinner />
  }

  @if (errorMessage()) {
    <div class="error">
      {{ errorMessage() }}
    </div>
  }

  @if (!loading() && patients().length === 0) {
    <div class="empty">Aucun patient</div>
  }

  @if (!loading() && patients().length > 0) {
    <table mat-table [dataSource]="patients()">
      <ul>
        @for (patient of patients(); track patient.id) {
          <li>{{ patient.lastName }} {{ patient.firstName }}</li>
        }
      </ul>
    </table>
  }
</div>
